
   
    
    <div class="top">
        <div class="article-show">
              <span class="box-title">Tweet</span>
              
              <div class="top-user">
                  <img class="index-user-image" src=<%= @tweet.user.image %>> 
                  <%= @tweet.user.name%>
              </div>
              <p class="user-tweet"> <%= @tweet.text %></p>
              
              <div class="createtime">
                <!-- aimple_timeはapplication_helperで定めた独自関数  -->
                <p>投稿日　<%= simple_time(@tweet.created_at) %></p>
                <p>更新日　<%= simple_time(@tweet.updated_at)%></p>
              </div>
              
             <div class="article-btn">
               <% if user_signed_in? && current_user.id == @tweet.user.id%>
                 <%= link_to("edit","/tweets/#{@tweet.id}/edit") %>
                 <%= link_to("delete","/tweets/#{@tweet.id}/destroy", method: :delete) %>
               <% end %>
                 <%= link_to 'back', :back %> 
             </div>
            
            
        
        </div>

    
    
