<!DOCTYPE html>
<html>
  <head>
    <title>Owadagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <!-- コード追加　Bootstrap CSS読み込みコード-->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
   >
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <div class = "header">
        <% if user_signed_in? %>
          <div class="inner flex">
              <div class="header-search">
                <%= form_tag("/tweets/search", method: :post) do %>
                    <input type="text"  name="freeword" placeholder="投稿を検索" required>
                    <button type="submit">
                      <i class="fas fa-search serach-icon"></i>
                    </button>
                <% end %>
              </div>
                <ul class="item">
                  <li class="menu"><%= link_to("toppage", "/") %></li>
                  <li class="menu"><%= link_to("ranking", "/users/ranking") %></li>
                  <li class="menu"><%= link_to("mypage", "/users/#{current_user.id}/show") %></li>
                  
                  <li class="menu"><%= link_to("logout", destroy_user_session_path,{method:"delete"})%></li>
                  <li class="menu"><%= link_to("post","/tweets/new") %></li>
                </ul>
        </div>
        <% else %>
            <div class="default-header">
              <ul class="item">
                <li class="menu"><%= link_to("login","/users/sign_in") %></li>
                <li class="menu"><%= link_to("submit", "/users/sign_up") %></li>
              </ul>
            </div>
        <% end %>
    </div>
   
   <div class="container">
      <%= yield %>
   </div>
   
  </body>
</html>
