

  <h1 class="index-h1">UserProfile</h1>
  <p class="index-p">ユーザ情報</p>
  <div class="show-user">
    <div class="thumb">
      <img class="show-user-image" src=<%= @user.image %>> 
    </div>
    <div class="show-user-h1-p">
      <h1><%= @user.name%></h1>
      <p>Email:<%= @user.email%> </p>
      <P>登録日時：<%= simple_time(@user.created_at)%></P>
      <P>更新日時：<%= simple_time(@user.updated_at) %></P>
    </div>
  </div>



<h1 class="index-p"><%="#{@user.name}さんの投稿"%></h1>
<% @tweets.each do |tweet| %>
    <div class="top">
      <div class="article">
        <div class="top-user">
        <img class="user-image" src=<%= tweet.user.image %>> <%= tweet.user.name%>
        </div>
        <p> <%= tweet.text %></p>
      </div>
      <div class="article-btn">
   <%= link_to("show","/tweets/#{tweet.id}/show") %> 
    </div>
    </div>
    <% end %>
    
 <div class="article-btn">
        <%= link_to("Topに戻る","/") %>
        <%= link_to '戻る', :back %> 
      </div>
      
      

   